:root {
    --primary-color: #1A345B; /* Azul Oscuro de tu paleta */
    --secondary-color: #4C6A9E; /* Azul Medio/Grisáceo de tu paleta */
    --accent-color: #6A9EE0; /* Azul brillante (para enlaces del menú) */
    --light-background: #E0EBF5; /* Un blanco/gris azulado muy suave */
    --white-color: #FFFFFF;
    --dark-text: #333333;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--light-background);
    color: var(--dark-text);
}

header {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.logo a {
    color: var(--white-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 25px;
}

nav a {
    color: var(--white-color);
    text-decoration: none;
    font-weight: 700;
}

nav a:hover {
    color: var(--accent-color); /* Usamos el azul brillante para el hover del menú */
}

